extends layout.pug
block content
    div.row.justify-content-center  
        form(method='POST' action='/uploadFile' enctype="multipart/form-data")
            div.form-row 
                div.col.form-group 
                    input(type="file" name="myFile")
                    input(type="submit", value="Upload File")
                
        form(method='POST' action='/uploadMultiple' enctype="multipart/form-data")
            div.form-row 
                div.col.form-group 
                    input(type="file" name="myFiles" multiple)                    
                    input(type="submit", value="Upload Files")
                    
                
        form(method='POST' action='/uploadPhoto' enctype="multipart/form-data")
            div.form-row 
                div.col.form-group 
                    input(type="file" name="myImage" accept="image/*") 

                

                    input(type="submit", value="Upload photo")
         
